body {
  background-color: #fff;
  font-family: Grotesk, sans-serif;
  color: #081c3a;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.025px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 70px;
  line-height: 1em;
  font-weight: 600;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
  font-size: 19px;
  line-height: 1.3em;
  font-weight: 400;
  letter-spacing: -0.2px;
}

.hero {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #000;
}

.hero-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.hero-text-wrapper.hide {
  display: none;
}

.intro-years {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.75em;
  margin-left: 0.75em;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.intro-tens {
  overflow: hidden;
  height: 75px;
}

.intro-ones {
  overflow: hidden;
  height: 75px;
}

.intro-tens-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-ones-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-text-container {
  overflow: hidden;
  height: 80px;
}

.hero-bg {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

.hero-animation {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-top-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-bottom-inner {
  width: 100%;
  height: 50vh;
}

.hero-asset {
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  margin-top: -15vw;
  margin-left: -11vw;
  box-shadow: -5px 5px 20px -16px #000;
}

.hero-asset._0 {
  z-index: 0;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}

.hero-asset._1 {
  z-index: 1;
  display: block;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.hero-asset._2 {
  z-index: 2;
  display: block;
  -webkit-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  transform: rotate(9deg);
}

.hero-asset._3 {
  z-index: 3;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.hero-asset._4 {
  z-index: 4;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.hero-asset._5 {
  z-index: 5;
  -webkit-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  transform: rotate(9deg);
}

.hero-asset._6 {
  z-index: 8;
  display: block;
}

.hero-asset._6 {
  z-index: 6;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.hero-asset._8 {
  z-index: 10;
  display: block;
  -webkit-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
}

.hero-asset._9 {
  z-index: 11;
  display: block;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.hero-asset._7 {
  z-index: 7;
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
}

.hero-asset._7.loading {
  opacity: 1;
}

.hero-image-wrapper {
  border-style: solid;
  border-width: 1.5vw;
  border-color: #fff;
}

.hero-image {
  display: block;
  max-height: 25vw;
}

.hero-asset-container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  color: #000;
}

.global {
  position: relative;
  z-index: 3;
}

.cursor {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.cursor-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
  -webkit-transition: width 350ms ease, height 350ms ease, background-color 350ms ease, opacity 350ms ease;
  transition: width 350ms ease, height 350ms ease, background-color 350ms ease, opacity 350ms ease;
}

.cursor-dot-large {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: border-color 350ms ease, width 350ms ease, height 350ms ease, background-color 350ms ease, color 350ms ease;
  transition: border-color 350ms ease, width 350ms ease, height 350ms ease, background-color 350ms ease, color 350ms ease;
  color: transparent;
}

.page-wrapper {
  position: relative;
}

.year {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.year.top {
  position: relative;
  height: 200vh;
  padding-top: 100vh;
  background-color: #fff;
}

.year.horizontal {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #111;
  font-family: Grotesk, sans-serif;
  color: #fff;
}

.year.prefix {
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.loader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  opacity: 1;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.loader.off {
  opacity: 0;
}

/* .party-icon {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url('@/assets/images/party.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.party-icon.cake {
  background-image: url('@/assets/images/birthday-cake.png');
}

.party-icon.gift {
  background-image: url('@/assets/images/wrapped-gift_1f381.png');
}

.party-icon.baloon {
  background-image: url('@/assets/images/balloon_1f388.png');
} */

.nav-years {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Inter;
  color: #adb5c2;
}

.years-wrapper {
  position: relative;
  background-color: #fff;
  font-family: Inter;
  color: #000;
}

.year-link {
  padding-right: 10px;
  padding-left: 10px;
  opacity: 0.3;
  font-family: Grotesk, sans-serif;
  color: #fff;
  font-size: 1.3vw;
  line-height: 1.5em;
  font-weight: 600;
  letter-spacing: 0em;
  text-decoration: none;
}

.year-link.active {
  opacity: 1;
}

.large-year {
  font-family: Grotesk, sans-serif;
  font-size: 50vw;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: -3vw;
}

.large-year.moonface {
  font-size: 35vw;
}

.large-year.olamide {
  font-size: 43vw;
}

.large-year.kamlash {
  font-size: 38vw;
}

.large-year.family {
  font-size: 30vw;
  white-space: nowrap;
}

.year-text-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding-right: 10vw;
  padding-left: 10vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.year-text-container.center {
  min-height: 140vh;
  padding-left: 10vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.year-text-container.horizontal {
  overflow: hidden;
  min-height: 140vh;
  padding-right: 10vw;
  padding-left: 10vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.year-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Grotesk, sans-serif;
  text-align: center;
}

.year-text-wrapper.centered {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.date {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 300;
}

.image-wrapper {
  position: absolute;
  left: 50%;
  top: 55%;
  margin-left: 5%;
  border-style: solid;
  border-width: 1.5vw;
  border-color: #fff;
  box-shadow: -8px 8px 20px -18px #000;
}

.image-wrapper.one {
  margin-top: -25vh;
  -webkit-transform: rotate(69deg);
  -ms-transform: rotate(69deg);
  transform: rotate(69deg);
}

.image-wrapper.two {
  z-index: 1;
  margin-top: -25vh;
  -webkit-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  transform: rotate(9deg);
}

.image-wrapper.three {
  z-index: 2;
  margin-top: -28vh;
  -webkit-transform: rotate(-17deg);
  -ms-transform: rotate(-17deg);
  transform: rotate(-17deg);
}

.image-wrapper.center {
  top: 50%;
  display: block;
  margin-top: -115px;
  margin-left: -10%;
  border-width: 15px;
}

.image-wrapper.top-left {
  margin-top: -51vh;
  margin-left: -33vw;
  border-width: 1.4vw;
  box-shadow: 0 10px 30px -17px #000;
  -webkit-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  transform: rotate(-9deg);
}

.image-wrapper.center-right {
  margin-top: -1vh;
  margin-left: 19vw;
  border-width: 1.4vw;
  box-shadow: 0 10px 30px -17px #000;
  -webkit-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
}

.image-wrapper.bottom-left {
  z-index: 2;
  margin-top: 14vh;
  margin-left: -27vw;
  border-width: 1.4vw;
  box-shadow: 0 10px 30px -17px #000;
  -webkit-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  transform: rotate(9deg);
}

.image-wrapper.top-right {
  margin-top: -56vh;
  margin-left: 25vw;
  border-width: 1.4vw;
  box-shadow: 0 10px 30px -17px #000;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.image-wrapper.victor {
  z-index: 4;
  margin-top: -24vh;
  margin-left: -10%;
}

.image-wrapper.victor.top-center {
  margin-left: -14%;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.image-wrapper.victor.top-center.right {
  margin-left: -10%;
  -webkit-transform: rotate(9deg) rotate(3deg);
  -ms-transform: rotate(9deg) rotate(3deg);
  transform: rotate(9deg) rotate(3deg);
}

.image-wrapper.victor.bottom-center {
  margin-left: -15%;
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
}

.image-wrapper.victor.bottom-right {
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.image-wrapper.kamlash {
  z-index: 4;
  margin-top: -24vh;
  margin-left: -10%;
}

.image-wrapper.kamlash.top-center {
  margin-left: -14%;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.image-wrapper.kamlash.top-center.right {
  margin-left: -10%;
  -webkit-transform: rotate(9deg) rotate(3deg);
  -ms-transform: rotate(9deg) rotate(3deg);
  transform: rotate(9deg) rotate(3deg);
}

.image-wrapper.kamlash.bottom-center {
  margin-left: -15%;
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
}

.image-wrapper.kamlash.bottom-right {
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.image {
  max-height: 19vw;
}

.image.small {
  max-height: 230px;
}

.image.mid {
  max-height: 20vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.image.stack {
  max-height: 17vw;
  min-width: 16vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.video-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 226px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Grotesk, sans-serif;
}

.video-wrapper.centered {
  position: relative;
  z-index: 2;
  max-width: 600px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.video-wrapper.horizontal {
  position: relative;
  z-index: 2;
  max-width: 500px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}

.image-slider-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30vw;
  margin-right: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.slide-image {
  display: block;
  height: 100%;
  min-width: 350px;
  -o-object-fit: cover;
  object-fit: cover;
}

.pinspacer {
  padding-bottom: 2500px;
}

.birthday-header {
  letter-spacing: -5px;
}

.birthday-subtext {
  margin-top: 15px;
}

.pretext {
  margin-top: 10px;
  font-size: 17px;
}

.pretext.ps {
  margin-top: 20px;
  font-size: 14px;
}

.loader-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.loader-wrapper.off {
  opacity: 0;
}

@media screen and (max-width: 991px) {
  .hero-text-container {
    height: 60px;
  }

  .hero-asset {
    margin-top: -20vw;
    margin-left: -14vw;
  }

  .hero-image {
    max-height: 35vw;
  }

  .year-link {
    font-size: 14px;
  }

  .image-wrapper.top-left {
    margin-left: -39vw;
  }

  .image-wrapper.top-right {
    margin-left: 22vw;
  }

  .image.mid {
    max-height: 23vw;
  }

  .image.stack {
    max-height: 23vw;
  }

  .hero-text {
    font-size: 55px;
  }
}

@media screen and (max-width: 767px) {
  .hero-text-container {
    height: 43px;
  }

  .hero-asset {
    margin-top: -135px;
    margin-left: -110px;
  }

  .hero-asset._4 {
    display: block;
  }

  .hero-image-wrapper {
    border-width: 13px;
  }

  .hero-image {
    max-height: 250px;
  }

  .hero-text {
    font-size: 40px;
  }
}

@media screen and (max-width: 479px) {
  .hero-text-container {
    height: 10.5vw;
  }

  .hero-asset {
    margin-left: -90px;
  }

  .hero-asset._4 {
    display: block;
  }

  .hero-image {
    max-height: 210px;
  }

  .hero-text {
    font-size: 10vw;
  }
}

@font-face {
  font-family: 'Grotesk';
  src: url('../fonts/HKGrotesk-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Grotesk';
  src: url('../fonts/HKGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Grotesk';
  src: url('../fonts/HKGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Grotesk';
  src: url('../fonts/HKGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Grotesk';
  src: url('../fonts/HKGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}